<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup theme-color -->
{% include head-custom-theme-colors.html %}

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->

<link rel="icon" type="image/png" href="/assets/images/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg" />
<link rel="shortcut icon" href="/assets/images/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="KoffeeJava" />
<link rel="manifest" href="/assets/images/site.webmanifest" />

<meta property="og:title" content="Koffee's' Kornner" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://koffeejava.github.io" />
<meta property="og:image" content="https://koffeejava.github.io/assets/images/web-app-manifest-192x192.png" />
<meta property="og:description" content="The coolest website on the internet! No, really, it is." />
<meta name="theme-color" content="#720000">

<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- end custom head snippets -->
